.example-list {
  min-height: 60px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  height: 100%;
}

.example-box {
  padding: 10px 10px 5px 10px;
  border: solid 1px #ccc;
  color: rgba(236, 236, 236, 0.87);
  border-radius: 2px;
  cursor: move;
  font-size: 14px;
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.btn-add {
  background-color: rgb(206, 206, 206);
}

.column-header {
  border: 1px solid rgb(207, 207, 207);
}

.list {
  // col-sm-6 col-lg-3 m-3 rounded
  background-color: pink;
  padding: 1%;
  border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #A9A9A9;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

// SLIDE PANEL FOR CROSS REFERENCED REQUIREMENTS

/* panel layout mechanics */
.panel-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30em;
  transform: translateX(90%);
  transition: .3s ease-out;
}
.panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  color: #eee;
  // overflow: auto;
  overflow-x: visible;
  overflow-y: scroll;
  padding: 1em;
}

/* simulate panel state control --
this can also be triggered by a
class name added to the body tag.
Just using a checkbox sibling here
for simplicity
*/
// #side-panel-trigger:checked ~ .panel-wrap {
//   transform: translateX(0%);
// }
#panel-wrap.slide {
  transform: translateX(0%);
}


/* demo display */
*,*:before, *:after {box-sizing: border-box;}

body {
  font-family: sans-serif;
  font-size: 18px;
}
h3 {
  margin: 0;
}
p {
  line-height: 1.4;
  margin: 2em 0 0 0;
}
[type="checkbox"] {
  font-size: 1em;
}







// SIDE PANEL BUTTON

.side-panel-button {
  position: absolute;
  transform: translateX(-50%);
  padding: 12.5px 20px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.side-panel-button:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
}

.side-panel-button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
}

// .side-panel-button {
//   /* Variables */
//  --button_radius: 7500em;
//  --button_color: #e8e8e8;
//  --button_outline_color: #000000;
//  font-size: 17px;
//  font-weight: bold;
//  border: none;
//  border-radius: var(--button_radius);
//  background: var(--button_outline_color);
// }

// .side-panel-button-top {
//  display: block;
//  box-sizing: border-box;
//  border: 2px solid var(--button_outline_color);
//  border-radius: var(--button_radius);
//  padding: 0.75em 1.5em;
//  background: var(--button_color);
//  color: var(--button_outline_color);
//  transform: translateY(-0.2em);
//  transition: transform 0.1s ease;
// }

// .side-panel-button:hover .side-panel-button-top {
//   /* Pull the button upwards when hovered */
//  transform: translateY(-0.33em);
// }

// .side-panel-button:active .side-panel-button-top {
//   /* Push the button downwards when pressed */
//  transform: translateY(0);
// }
