<app-toolbar></app-toolbar>

<mat-toolbar>
    <span class="mat-h2">{{projName}}</span>
</mat-toolbar>


<div cdkDropListGroup>

<div id="backlog">
    <mat-card>
        <table [cellPadding]="10">
            <tr>
                <th onclick="sortTable(0)">ID</th>
                <th>Requirement</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Legal Liability</th>
                <th>Cross Reference</th>
            </tr>

            <tr>
                <!-- <div cdkDropListGroup> -->
                    <div cdkDropList [cdkDropListData]="ownedAnimals" (cdkDropListDropped)="drop($any($event))">
                        <div cdkDrag class="drag-item">
                            
                            <app-table-item></app-table-item>
                        </div>
                    </div>
                <!-- </div> -->
            </tr>
            
            <tr>
                <td>001</td>
                <td>As a user, I want to be able to contact repositories.</td>
                <td>4</td>
                <td>Optional</td>
                <td>003</td>
            </tr>

            <tr>
                <td>002</td>
                <td>As a user, I want to do this</td>
            </tr>

            <tr>
                <td>003</td>
                <td>As a uskdoenf efiuweknfo coienkw</td>
                <td>2</td>
                <td>Mandatory</td>
                <td>005, 002, 001</td>
            </tr>

        </table>
    </mat-card>
    


</div>

<div id="sprints">
    <h1>Sprints</h1>
    <p>This is a view of the sprints</p>

    <mat-card>
        <button mat-icon-button disableRipple class="ml-2" (click)="onOpenComment()">
            <h2>Sprint 1</h2>
        </button>
        <button mat-icon-button class="up-arrow" (click)="onCardItemEmit(item, false)">
            <mat-icon class="icon">arrow_downward</mat-icon>
          </button>
        <!-- <span class="version-no">{{ item.version }}</span> -->



        <div *ngIf="open">
            <!-- <mat-form-field class="w-100 mb-2">
              <mat-label>Leave a comment</mat-label>
              <textarea matInput [(ngModel)]="commentInput" (mousedown)="$event.stopPropagation()"></textarea>
              <button
                mat-button
                *ngIf="commentInput"
                matSuffix
                mat-icon-button
                color="primary"
                class="icon-confirm"
                (click)="onCommentTextEmit(item.id)"
              >
                <mat-icon>done</mat-icon>
              </button>
            </mat-form-field> -->

            <!-- <div cdkDropListGroup> -->
                <div cdkDropList [cdkDropListData]="ownedAnimals" (cdkDropListDropped)="drop($any($event))">
                    <div cdkDrag class="drag-item" *ngFor="let animal of ownedAnimals">
                        {{animal}}
                    </div>
                </div>
    
                <div cdkDropList [cdkDropListData]="otherAnimals" (cdkDropListDropped)="drop($any($event))">
                    <div cdkDrag class="drag-item" *ngFor="let animals of otherAnimals">
                        {{animals}}
                    </div>
                </div>
            <!-- </div> -->
            
          
            <ng-content></ng-content>
          </div>
    </mat-card>
    </div>
</div>

