<!-- <app-basic-toolbar></app-basic-toolbar> -->
<!-- <app-username-password></app-username-password> -->
<!-- <head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
</head>
<body>
  <app-dashboard-grid></app-dashboard-grid>
  <app-username-password></app-username-password>
</body> -->

<!-- <nav>
  <a routerLink="/loginPage">Login</a>
  <a routerLink="/dashBoard">DashBoard</a>
</nav> -->

<!-- <mat-slider min="1" max="5" step="1" value="1">
  <input matSliderThumb>
</mat-slider> -->

<!-- <app-textarea-highlight
  [(ngModel)]="txt"
  [highlightTexts]="highlightTexts"
></app-textarea-highlight> -->

<!-- <h1> NGX Highlight Text Example</h1>
<div>
    <div>
        <input type="text" [(ngModel)]="query" placeholder="Query..." />
    </div>
    <p [innerHTML]="highlight()"></p>
</div> -->

<!-- <div [innerHTML]="txt">Hello dear how are you</div> -->


<router-outlet></router-outlet>
