<p>test-comp works!</p>

<app-toolbar></app-toolbar>

<main>
    <!-- to search req -->
    <div class="toolbar">

        <div class="add-req">
            <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New UserStory</button>
        </div>

        <div class="search-req">
            <input type="search" class="form-control" placeholder="Search User Story">
        </div>

    </div>

    <!-- display all reqs -->
    <div class="req">

        <div class="row mt-5">
            <div class="col text-center">
                <span class="text-secondary fs-2 fw-bold fst-italic">No User Stories Added Yet</span>
            </div>
        </div>
    </div>

</main>

<div class="modal fade" id="exampleModal" tabindex="-1">
    <p>something</p>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter a User Story</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <form [formGroup]="usInputForm">

                    <h1>Something</h1>
                    <label>As a</label>
                    <input type="text" class="form-control" placeholder="{Role}" formControlName="us1Input">
                    <br>

                    <label>I want to</label>
                    <input type="text" class="form-control" placeholder="{Requirement}">
                    <br>

                    <label>This user story belongs to Project:</label>
                    <select class="form-select">
                        <option value="default" selected>Select a Project</option>
                        <option *ngFor="let option of projectOptions; let i=index;" value="{{i}}">
                            {{option | titlecase}}
                        </option>
                    </select>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Insert</button>
            </div>

        </div>
    </div>
</div>