<div class="wrapper0">
  <div class="bgBox"></div>
  <div class="wrapper1">

    <app-toolbar></app-toolbar>

    <div class="wrapper2">

      <div class="left-bar">
        <app-left-sidebar></app-left-sidebar>
      </div>

      <!-- <p>{{Wstring}}</p> -->
      <!-- <p>{{workspaces | json}}</p> -->
      <div class="detail-view">
        <!-- <div class="workspace-detail" *ngFor="let workspace of workspaces$ | async"> -->
          <div class="workspace-detail" *ngFor="let workspace of workspaces$">
            <p class="workspace-heading">{{workspace.name}}</p>
            <div class="project-under-workspace-heading" *ngFor="let P_ID of workspace.P_IDs" routerLink="/editor">
              <p>{{P_ID}}</p>
            </div>
            <div class="project-under-workspace-add-button" (click)="openProjectPopup()">
              <mat-icon>add</mat-icon>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
