<div class="wrapper0">
  <div class="bgBox"></div>
  <div class="wrapper1">

    <app-toolbar></app-toolbar>

    <div class="wrapper2">

      <div class="left-bar">
        <app-left-sidebar></app-left-sidebar>
      </div>

      <!-- <p>{{Wstring}}</p> -->
      <!-- <p>{{workspaces | json}}</p> -->
      <div class="detail-view">
        <!-- <div class="workspace-detail" *ngFor="let workspace of workspaces$ | async"> -->
          <div class="workspace-detail" *ngFor="let workspace of workspaces$">
            <p class="workspace-heading">{{workspace.name}}</p>
            <div class="project-list">
              <div class="project-under-workspace-add-button" (click)="openProjectPopup(workspace._id)">
                <mat-icon class="add-project-icon">add</mat-icon>
                <p class="add-proj-text">Create new project</p>
              </div>
              <!-- <div class="project-under-workspace-heading" *ngFor="let P_ID of workspace.projectsRef" routerLink="/editor"> -->
              <div class="project-under-workspace-heading" *ngFor="let project of workspace.projectsRef" (click)="routeToProject(project.name, project._id)">
                <p>{{project.name}}</p>
                <mat-icon class="project-info">info</mat-icon>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
