
.wrapper0{
  display: grid;
  grid-template-rows: repeat(100, 1fr);
  grid-template-columns: repeat(100, 1fr);
  height: 100%;
  width: 100%;

  /* justify-items: center;
  align-items: center; */
}

.bgBox{
  grid-row: 1/span 20;
  grid-column: 1/span 100;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;

  background: #E7F0F9;
}

.wrapper1{
  background-color: #f7fafd;
  grid-row: 3/span 95;
  grid-column: 6/span 90;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 13fr;
  gap: 3em;
  /* height: 95%;
  width: 90%; */
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
}

/* .logo{
  height: 50px;
  padding-left: 5px;
  margin: 0 2.37%;
  height: 100%;
} */

/* .background {
  background-color: #E7F0F9;
} */

/* .menu-links {
margin-left: auto;
margin-right: 0;
}

.menu-links a {
text-decoration: none;
color: rgb(0, 0, 0);
margin-left: 5px;
margin-right: 5px;
font-size: smaller;
padding: 20px;
padding-left: 10px;
padding-right: 10px;
}

.menu-links a:hover {
background-color: lightblue;
} */


.header{
  /* display: flex;
  flex-direction: row; */
  background-color: lightblue;
  padding: 30px;
}

.header ul {
  list-style-type: none;
  background-color: aqua;
}

.header li {
  float: right;
  font-size: 20px;
  font-weight: bold;
  display: inline;
}

.header li a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.header{
  /* position: relative; */
  /* background-color: #e7f0f9; */

}

.header::after{
  content: '';
  position: relative;
  /* bottom: 0;
  left: 0; */
  border-top: 0.5px solid #797D8B;
  /* width: 50%; */
  margin: 0 2.37%;
}

/* .wrapper1 > div:nth-child(odd){
  background-color: #ddd;
} */

.header{
  display: grid;
  align-items: center;
}

/* .logo{
  height: 35px;
  padding-left: 5px;
  margin: 0 2.37%;
  height: 100%;
} */

.wrapper2{
  margin: 0 4%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  /* gap: 4em; */
}

/* .wrapper2 > div{
  background-color: brown;
} */

.detail-view{
  margin-left: 50px;
  margin-top: 20px;
}

.workspace-detail{
  margin-bottom: 50px;
}

.workspace-heading{
  font-size: x-large;
  font-weight: 575;
}

.project-under-workspace-heading{
  background-color: darkgrey;
  height: 40px;
  padding: 5px;
  margin: 10px;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
}
