<div class="wrapper0">
  <div class="bgBox"></div>
  <div class="wrapper1">

    <app-toolbar></app-toolbar>

    <div class="wrapper2">

      <div class="left-bar">
        <app-left-sidebar></app-left-sidebar>
      </div>


      <div class="detail-view">
        <div class="workspace-detail" *ngFor="let workspace of workspaces">
          <p class="workspace-heading">{{workspace.name}}</p>
          <div class="project-under-workspace-heading" *ngFor="let project of workspace.projects" routerLink="/editor">
            <p>{{project.name}}</p>
          </div>
          <div class="project-under-workspace-add-button" (click)="openProjectPopup()">
            <mat-icon>add</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
