
.wrapper0{
  display: grid;
  grid-template-rows: repeat(100, 1fr);
  grid-template-columns: repeat(100, 1fr);
  height: 100%;
  width: 100%;

  /* justify-items: center;
  align-items: center; */
}

.bgBox{
  grid-row: 1/span 20;
  grid-column: 1/span 100;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;

  background: #E7F0F9;
}

.wrapper1{
  background-color: #f7fafd;
  grid-row: 3/span 95;
  grid-column: 6/span 90;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 13fr;
  gap: 3em;
  /* height: 95%;
  width: 90%; */
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);

  overflow: hidden;

}

.header{
  /* display: flex;
  flex-direction: row; */
  background-color: lightblue;
  padding: 30px;
}

.header ul {
  list-style-type: none;
  background-color: aqua;
}

.header li {
  float: right;
  font-size: 20px;
  font-weight: bold;
  display: inline;
}

.header li a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.header{
  /* position: relative; */
  /* background-color: #e7f0f9; */

}

.header::after{
  content: '';
  position: relative;
  /* bottom: 0;
  left: 0; */
  border-top: 0.5px solid #797D8B;
  /* width: 50%; */
  margin: 0 2.37%;
}

/* .wrapper1 > div:nth-child(odd){
  background-color: #ddd;
} */

.header{
  display: grid;
  align-items: center;
}

.wrapper2{
  margin: 0 4%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  overflow: hidden;
  /* grid-template-rows: 1fr; */
  /* gap: 4em; */
}

/* .wrapper2 > div{
  background-color: brown;
} */

.detail-view{
  margin-left: 50px;
  margin-top: 20px;
  overflow-y: auto;
  /* background-color: pink; */
}

.workspace-detail{
  margin-bottom: 50px;
  display: grid;
}

.workspace-heading{
  font-family: Arial, Helvetica, sans-serif;
  color: #797D8B;
  font-size: x-large;
  font-weight: 575;
}

.project-list{
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(160px,1fr);
  overflow-x: auto;
}

.project-under-workspace-heading, .project-under-workspace-add-button{
  background-color: #5B9BD5;
  border-radius: 2px;
  height: 100px;
  width: 150px;
  margin: 10px;
  font-size: medium;
  font-weight: 500;
  cursor: pointer;
  /* display: flex; */
}

.project-under-workspace-heading{
  color: white;
  display: flex;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  font-size: small;
}

.project-info{
  /* float: right; */
  /* margin-left: 50%; */
  position: absolute;
  top: 5%;
  right: 1%;
  font-size: 20px;
}

.project-under-workspace-add-button{
  display: grid;
  position: relative;
  color: #797D8B;
  align-items: center;
  justify-content: center;
  /* border-width: thick; */
  /* border-color: black; */
  background-color: #F2F2F2;
}

.add-proj-text{
  font-size: small;
  position: absolute;
  bottom: 10%;
  /* left: 5%;
  right: 5%; */
  justify-self: center;
}

.add-project-icon{
  position: absolute;
  font-size: xx-large;
  top: 15%;
  left: 38%;
  right: 50%;
  transform: scale(1.5);
}

/* .project-under-workspace-add-button{
  align-items: center;
  justify-content: center;
} */

.left-bar{
  overflow-y: auto;
}




/* width */
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #A9A9A9;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
