.info-text{
  text-align: center;
  color: #1a1a1a;
}

#workspace-expansion-panel{
  background-color: #f7fafd;
  color: #1a1a1a;
  font-size:smaller;
  width: 94%;
  text-align: left;
}

.project-in-expansion-panel{
  /* background-color: lightgrey; */
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightblue;
  margin-left: 10px;
  cursor: pointer;

}

.project-in-expansion-panel:hover{
  background-color: #F2F2F2;
}

/* ng-deep .workspace-expansion-panel > .mat-expansion-indicator:after {
  color: aliceblue;
} */

.mat-expansion-indicator {
  position: absolute;
  left: 15px;
}

.workspace-name{
  font-size: small;

}
