<div class="wrapper0">
    <div class="bgBox"></div>
    <div class="wrapper1">
        <div class="header">
            <img class="logo" src = "assets/images/softreq-logo/softreq-logo.svg" alt="SoftReq Logo"/>
            <ul>
                <li><a routerLink="/dashBoard">Home</a></li>
                <li><a routerLink="/project">Editor</a></li>
                <li><a routerLink="/loginPage">My Account</a></li>
            </ul>
        </div>

        <p>Try the User Story Requirements Editor for your next Project!</p>
        <ol>
            <li>SOemhting</li>
            <li>owmwdwof</li>
            <li>topwdwndw</li>
        </ol>
        <button>Submit</button>
        <button class="btn" routerLink="/editor">Go To Editor</button>

    </div>

</div>
