#backlog {
    float: left;
    width: 60%;
    /* border: 2px solid red; */
    margin: 20px;
}

#lists {
    width: 30%;
    float: right;
    /* border: 2px solid red; */
    margin: 20px;
}

.backlog-item{
  background: white;
  color: #212529;
  margin-top:5px;
  padding: 5px 10px 5px 15px;
  border-radius:5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backlog-item-right-group{
  display: flex;
  justify-items: center;
  align-items: center;
}

.priority-circular-signal{
  height: 13px;
  width: 13px;
  background-color: #bbb;
  border-radius: 50%;
  border-color: #212529 solid 1px;
  display: inline-block;
}

.drag-list-item{
  margin: 5px;
  padding: 0 4px 0 4px;
  background-color: white;
  border-radius: 5px;
}

.example-list {
    min-height: 60px;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    height: 100%;
  }

  .example-box {
    padding: 10px 10px 5px 10px;
    border: solid 1px #ccc;
    color: rgba(236, 236, 236, 0.87);
    border-radius: 2px;
    cursor: move;
    font-size: 14px;
  }


  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-box:last-child {
    border: none;
  }

  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .btn-add {
    background-color: rgb(206, 206, 206);
  }

  .column-header {
    border: 1px solid rgb(207, 207, 207);
  }

  .list {
    /* col-sm-6 col-lg-3 m-3 rounded */
    background-color: pink;
    padding: 1%;
    border-radius: 5px;
  }

  /* width */
  ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #A9A9A9;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }

