.icon {
  font-size: 18px;
}

.mat-icon-button {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color ease .2s;
}

.mat-icon-button:hover {
  color: rgb(255, 255, 255);
}

.mat-icon-button .mat-button-wrapper>* {
  vertical-align: none !important;
}

mat-form-field.mat-form-field {
  background-color: rgb(212, 212, 212);
  padding: 10px 10px 0 10px;
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-required-marker {
      color: #000000;
  }
  .mat-input-element {
      color: #000000;
  }
}

.icon-confirm {
  font-size: 20px !important;
}

.requirement{
  font-size: 13px;
  width: 100%;
  // height: 100%;
  // padding: 12px 20px;
  // box-sizing: border-box;
  // border: 2px solid #ccc;
  // border-radius: 4px;
  // background-color: #f8f8f8;
}

.version-wrapper{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  // background-color: white;
}

.ext-qual-conc-button{
  margin-right: 1vw;
  background: white;
  color: black;
  border-width: 1px;
  border-color: orange;
  font-size: 9px;
  line-height: 18px;
  height: auto;
  width: auto;
}

.quality-concerns-row{
  display: flex;
  height: 20px;
}

.q-conc-tag{
  border-radius: 5px;
  // background-color: rgba(255, 166, 0, 0.551);
  background-color: rgb(255, 234, 196);
  // border: solid orange;
  border-width: 1px;
  // border-color: rgba(255, 166, 0, 0.551);
  color: black;
  width: fit-content;
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 20%;
  padding-right: 20%;
  font-size: x-small;
  font-weight: 500;
  margin-right: 20px;
}

// .up-arrow{
//   position: absolute;
//   float: left;
// }

// .down-arrow{
//   position: absolute;
//   float: left;
// }

.mark {
  background-color: #ffdd4b;
  color: black;
  border-radius: 5px;
}

// mark {
//   border-radius: 3px;
//   color: transparent;
//   background-color: #b1d5e5;
// }
