
<mat-toolbar  class="justify-content-between px-5 mb-4">
  <div>
    <span class="mat-h2">{{projName}}</span>
  </div>

  <!-- NAV BAR -->

  <!-- <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let link of links"
       (click)="activeLink = link"
       [active]="activeLink == link"> {{link}} </a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel> -->

  <nav mat-tab-nav-bar>
    <a mat-tab-link
    *ngFor="let link of navLinks"
    [routerLink]="link.link"
    routerLinkActive #rla="routerLinkActive"
    [active]="rla.isActive">
   {{link.label}}
  </a>
  </nav>

  <!-- <nav mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel">
    <a mat-tab-link *ngFor="let link of links"
       (click)="activeLink = link"
       [active]="activeLink == link"> {{link}} </a>
    <a mat-tab-link disabled>Disabled Link</a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel> -->

  <!-- ------------- -->

  <!-- <div class="menu-links" (click)="routeToProject(projName)">
    <button mat-raised-button color="primary">
      <div routerLink="/backlog">See Backlog of {{projName}}</div>
    </button>
  </div> -->

  <div>
    <!-- <button mat-raised-button color="primary" (click)="extract_quality()">
      Extract quality concerns
    </button> -->
    <app-dialog (emitText)="addList($event, 0)" question="Add new column">
      <button mat-raised-button color="primary">
        New List
      </button>
    </app-dialog>
  </div>

</mat-toolbar>
