
<mat-toolbar  class="justify-content-between px-5 mb-4">
  <div>
    <span class="mat-h2">{{projName}}</span>
  </div>
  <!-- <button mat-raised-button color="primary" (click)="saveBoard()">
    Save
  </button> -->
  <div>
    <!-- <button mat-raised-button color="primary" (click)="extract_quality()">
      Extract quality concerns
    </button> -->
    <app-dialog (emitText)="addList($event, 0)" question="Add new column">
      <button mat-raised-button color="primary">
        New List
      </button>
    </app-dialog>
  </div>
</mat-toolbar>
