html, body {
  height: 100%;
}

.App {
  text-align: center;;
}

.Editor {
  background-color: white;
  float: left;
  width: 50%;
  border-radius: 4px;
  height: 100%;
  vertical-align: middle;
}

.Suggestions {
  float: right;
  width: 50%;
}