<!-- Stuff above text -->

<div class="quality-concerns-row">
  <div style="display: flex;">
    <button class="ext-qual-conc-button" mat-raised-button color="primary" (click)="extract_quality()">
      Extract quality concerns
    </button>
    <button class="ext-qual-conc-button" mat-raised-button color="primary" (click)="extract_ambiguity(item.requirement, item.ambiguityConcerns)">
      Extract ambiguity
    </button>
  </div>

  <div *ngFor="let q of item.qualityConcerns">
    <div *ngIf="q === 'X'" class="q-conc-tag">No Quality Concerns</div>
    <div *ngIf="q !== 'X'" class="q-conc-tag">{{q}}</div>
  </div>

</div>
<div class="card-wrapper">
  <div class="d-flex justify-content-end align-items-center mr-1">
    <button mat-icon-button (click)="openPopup()">
      <mat-icon class="icon">edit</mat-icon>
    </button>
  </div>

  <!-- Requirement -->
  <div class="d-flex justify-content-between align-items-start mb-0">
      <div class="requirement">
        <grammarly-editor-plugin>
          <div contentEditable="true" [innerHtml]="item.requirement | highlighter:item.ambiguityConcerns:'partial'"></div>
        </grammarly-editor-plugin>
      </div>
  </div>

  <!-- Stuff below text -->

  <div class="d-flex justify-content-end align-items-center mb-0">

    <!-- <button mat-button data-bs-toggle="modal" data-bs-target="#exampleModal">
      View Details
    </button> -->

    <div class="version-wrapper">
      <button mat-icon-button class="up-arrow" (click)="onCardItemEmit(item, false)">
        <mat-icon class="icon">arrow_downward</mat-icon>
      </button>
      <button mat-icon-button class="down-arrow" disableRipple (click)="onCardItemEmit(item, true)">
        <mat-icon class="icon">arrow_upward</mat-icon>
      </button>
      <span class="version-no">{{ item.version }}</span>
    </div>
    <button mat-icon-button disableRipple class="ml-2" (click)="onOpenComment()">
      <mat-icon class="icon">chat_bubble_outline</mat-icon>
    </button>
    <span>{{ item.comments.length }}</span>
    <button mat-icon-button class="icon-delete" (click)="onCardDelete(item._id)">
      <mat-icon style="font-size:20px; color:red; margin-left: 17px;">delete</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="open">
  <mat-form-field class="w-100 mb-2">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput [(ngModel)]="commentInput" (mousedown)="$event.stopPropagation()"></textarea>
    <button
      mat-button
      *ngIf="commentInput"
      matSuffix
      mat-icon-button
      color="primary"
      class="icon-confirm"
      (click)="onCommentTextEmit(item.id)"
    >
      <mat-icon>done</mat-icon>
    </button>
  </mat-form-field>

  <ng-content></ng-content>
</div>
