*{
  font-family: 'Roboto', sans-serif;
  /* background-color: #f7fafd; */
  background-color: #E5E5E5;
}



/*
.fgBox{
  position: absolute;
  width: 90%;
  height: 95%;
  left: 96px;
  top: 33px;

  background: #FFFFFF;
  border-radius: 3px;
}

.bgBox{
  position: absolute;
  width: 100%;
  height: 20%;
  left: 0px;
  top: 0px;

  background: #E7F0F9;
} */
