<!-- <div class="wrapper0">

    <div class="header">
      <img class="logo" src = "assets/images/softreq-logo/softreq-logo.svg" alt="SoftReq Logo"/>
    </div>

    <h1>User Story Requirements Editor</h1>
</div> -->

<!-- <mat-toolbar color="primary">
  <img class="logo" src = "assets/images/softreq-logo/softreq-logo.svg" alt="SoftReq Logo"/>
  <span>SoftReq</span>
  <div class="menu-links">
      <a routerLink="/home">Home</a>
      <a routerLink="/dashBoard">Dashboard</a>
      <a routerLink="/editor">Editor</a>
      <a routerLink="/project">Project</a>
      <a routerLink="/loginPage">Account</a>
  </div>
</mat-toolbar> -->

<app-toolbar></app-toolbar>

<div class="main">
  <h1>Editor</h1>
  <p>Some random lines here</p>

  <div class="main-wrapper">

      <div class="left-sidebar">
          <h4>Add a User Story</h4>

          <!-- <form novalidate (ngSubmit)="addUserStory()"> -->
            <!-- <p class="form-title">Role</p>

            <label for="roles">As a </label>

            <select name="roles" id="roles" [(ngModel)]="enteredRole">
              <option value="Admin" #admin>Admin</option>
              <option value="Employee" #customer>Employee</option>
              <option value="Customer">Customer</option>
              <option value="Manager">Manager</option>
            </select> -->
        
            <!-- <p class="form-title">User Story Requirement</p>
            <mat-form-field appearance="outline">
              <textarea spellcheck="true" rows="10" name="userstoryReq" [(ngModel)]="enteredReq">As a </textarea>
            </mat-form-field>
        
            <br>
            <button mat-stroked-button class="add-workspace-button" type="submit">Add User Story</button>
          </form> -->

          

          <br>

          <textarea spellcheck="true" rows="10" name="userstoryReq" [(ngModel)]="enteredReq" #req></textarea>

          <br>

          <button mat-flat-button color="primary" (click)="addUserStoryToPage(req)">Add User Story</button>

      </div>

      <!-- <div class="main-content"> -->

      <div class="project-view">
          <h2>User Stories</h2>
          <br>
          <div class="userstories">

              <div class="workspace-detail" *ngFor="let us of userstories">
                <p class="workspace-heading">{{us.req}}</p>
              </div>


          </div>

      </div>

      <!-- </div> -->
  </div>

  <app-boarditems></app-boarditems>


</div>