<!-- <div class="wrapper0">

    <div class="header">
      <img class="logo" src = "assets/images/softreq-logo/softreq-logo.svg" alt="SoftReq Logo"/>
    </div>

    <h1>User Story Requirements Editor</h1>
</div> -->

<mat-toolbar color="primary">
  <img class="logo" src = "assets/images/softreq-logo/softreq-logo.svg" alt="SoftReq Logo"/>
  <span>SoftReq</span>
  <div class="menu-links">
      <a routerLink="/home">Home</a>
      <a routerLink="/dashBoard">Dashboard</a>
      <a routerLink="/editor">Editor</a>
      <a routerLink="/project">Project</a>
      <a routerLink="/loginPage">Account</a>
  </div>
</mat-toolbar>


<div class="main">
  <h1>Editor</h1>
  <p>Some random lines here</p>
  
  <div class="main-wrapper">

      <div class="left-sidebar">
          <h4>Add a User Story</h4>
          
          <label for="roles">As a </label>

          <select name="roles" id="roles" #roles>
            <option value="Admin" #admin>Admin</option>
            <option value="Customer" #customer>Customer</option>
            <option value="">Mercedes</option>
            <option value="audi">Audi</option>
          </select>

          <br>

          <textarea spellcheck="true" rows="10">As a #roles</textarea>

          <br>

          <button mat-flat-button color="primary">Add User Story</button>
          
      </div>
  
      <!-- <div class="main-content"> -->

      <div class="project-view">
          <h2>User Stories</h2>
          <br>
          <div class="userstories">
              <h3>User Stories</h3>

              <div class="workspace-detail" *ngFor="let us of userstories">
                <p class="workspace-heading">{{us.role}}</p>
                <p class="workspace-heading">{{us.req}}</p>
              </div>

          </div>

      </div>
  
      <!-- </div> -->
  </div>


</div>

