<mat-toolbar color="primary">
    <img class="logo" src = "assets/images/softreq-logo/softreq-logo.svg" alt="SoftReq Logo"/>
    <span>SoftReq</span>
    <div class="menu-links">
        <a routerLink="/home">Home</a>
        <a routerLink="/dashBoard">Dashboard</a>
        <a routerLink="/project">Editor</a>
        <a routerLink="/loginPage">Account</a>
    </div>
</mat-toolbar>

<!-- <div class="header">
    <img class="logo" src = "assets/images/softreq-logo/softreq-logo.svg" alt="SoftReq Logo"/>
    <ul>
      <li><a routerLink="/dashBoard">Home</a></li>
      <li><a routerLink="/project">Editor</a></li>
      <li><a routerLink="/loginPage">My Account</a></li>
    </ul>
  </div> -->

<div class="main">
    <h1>Dashboard</h1>
    <p>Some random lines here</p>
    
    <!-- <mat-sidenav-container>
        <p>Something here</p>
        <mat-sidenav>Start</mat-sidenav>
        <mat-sidenav-content>Main</mat-sidenav-content>
    </mat-sidenav-container> -->

    <div class="main-wrapper">
        <div class="left-sidebar">
            <h4>Workspaces</h4>
            
        </div>
    
        <!-- <div class="main-content"> -->

        <div class="project-view">
            <h2>Your Workspaces</h2>
            <br>
            <div class="workspace-1">
                <h3>Resturaunt App</h3>
    
                <div class="workspace-block">
                    <h4>FrontEnd</h4>
                </div>
    
                <div class="workspace-block">
                    <h4>BackEnd</h4>
                </div>
    
            </div>
            <br>
            <div class="workspace-1">
                <h3>Client TopSecret</h3>
                
                <div class="workspace-block">
                    <h4>Web App X</h4>
                </div>
    
                <div class="workspace-block">
                <h4>Mobile App X</h4>
            </div>
            <br>
        </div>
    
        <!-- </div> -->
    </div>
    


</div>

