.logo{
    height: 50px;
    /* padding-left: 5px; */
    margin: 0 2.37%;
    /* height: 100%; */
  }

/* .background {
    background-color: #E7F0F9;
} */

.menu-links {
    margin-left: auto; 
    margin-right: 0;
}

.menu-links a {
    text-decoration: none;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    font-size: smaller;
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-links a:hover {
    background-color: lightblue;
}


.header{
    /* display: flex;
    flex-direction: row; */
    background-color: lightblue;
    padding: 30px;
  }

.header ul {
    list-style-type: none;
    background-color: aqua;
}

.header li {
    float: right;
    font-size: 20px;
    font-weight: bold;
    display: inline;
}

.header li a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

.main {
    width: 90%;
    margin: auto;
    padding: 20px;
    background-color: white;
    /* box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25); */
}

.main-wrapper {
    display: flex;
    flex-direction: row;

}

.left-sidebar {
    width: 20%;
    border: 2px solid black;
    padding: 20px;
}

/* .main-content {
    width: 60%;
    border: 2px solid black;
    margin-left: 20px;
} */

.project-view{
    width: 70%;
    border: 2px solid black;
    margin-left: 20px;
    padding: 20px;
    font-size: large;
    color: black;
    background-color: rgb(203, 237, 248);
  }

.workspace-1 {
    display: flex;
    flex-direction: row;
  }

.workspace-block {
    background-color: rgb(56, 159, 193);
    width: 100px;
    height: 50px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 10px;
  }

  